# -*- coding: utf-8 -*-
# vim: ft=yaml
---
cloudfoundry:
  cli:
    pkg:
      {%- if grains.os_family in ('Debian', 'RedHat',) %}
      use_upstream_repo: True
      {%- endif %}
      ## use archive if no package is available for your OS
      use_upstream_archive: False
      archive:
        source: https://packages.cloudfoundry.org/stable?release=linux64-binary&version=6.44.1&source=github-rel
        extracted:
          source_hash: b986a55fef4bd6f580d7a070f4592362309fe009ffdd9489b9d3b871aed07aa3
